In [ ]:
list datatype

In [3]:
students=['amardeep','ayushi','shalini','mukesh','pavan']
print(students)

['amardeep', 'ayushi', 'shalini', 'mukesh', 'pavan']

In [4]:
type(students)

list

In [ ]:
req:want to get shalini name in output

In [5]:
print(students[2])

shalini

In [6]:
print(students[0])

amardeep

In [ ]:
to convert 1st letter to capital

In [7]:
print(students[2].title())

Shalini

In [ ]:
to add a new element to the list

In [8]:
print(students)

['amardeep', 'ayushi', 'shalini', 'mukesh', 'pavan']

In [9]:
students.append('shalini')

In [10]:
print(students)

['amardeep', 'ayushi', 'shalini', 'mukesh', 'pavan', 'shalini']

In [ ]:
adding at a custom place

In [ ]:
jeet singh=4th place

In [11]:
students.insert(4,'jeet singh')

In [12]:
print(students)

['amardeep', 'ayushi', 'shalini', 'mukesh', 'jeet singh', 'pavan', 'shalini']

In [ ]:
to modify elements

In [13]:
print(students)

['amardeep', 'ayushi', 'shalini', 'mukesh', 'jeet singh', 'pavan', 'shalini']

In [ ]:
want to replace mukesh with harika

In [16]:
students[3]='harika'

In [17]:
print(students)

['amardeep', 'ayushi', 'shalini', 'harika', 'jeet singh', 'pavan', 'shalini']