In [ ]:
req: how to delete elements from the list

In [1]:
my_students=['gagan','naveen','mukesh','kiran','iqra','kumar','saniya','afroz']

In [2]:
print(my_students)

['gagan', 'naveen', 'mukesh', 'kiran', 'iqra', 'kumar', 'saniya', 'afroz']

In [ ]:
want to delete kumar from the list

In [13]:
del.my_students[5]

SyntaxError: invalid syntax (<ipython-input-13-156d42a35bdb>, line 1)

In [ ]:
to temporarily delete:

In [14]:
print(my_students)

['gagan', 'naveen', 'mukesh', 'kiran', 'iqra', 'kumar', 'saniya', 'afroz']

In [ ]:
want to del naveen

In [15]:
x=my_students.pop(1)

In [16]:
print(my_students)

['gagan', 'mukesh', 'kiran', 'iqra', 'kumar', 'saniya', 'afroz']

In [17]:
print(x)

naveen

In [ ]:
organising the list:

In [18]:
cars=['honda','audi','benz','skoda','bmw']

In [19]:
print(cars)

['honda', 'audi', 'benz', 'skoda', 'bmw']

In [ ]:
a-z order:

In [ ]:
1.temporary:(sorted)

In [20]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'honda', 'skoda']

In [21]:
print(cars)

['honda', 'audi', 'benz', 'skoda', 'bmw']

In [ ]:
2.permanent(sort)

In [22]:
cars.sort()

In [23]:
print(cars)

['audi', 'benz', 'bmw', 'honda', 'skoda']